

p
{
color:#000;
background-color:#fdf9b3;
padding:5px;
width:600px;
margin-right:50px;
margin: 50px 400px auto;
border-style:double dashed;
border-width:10px 8px;
border-color:#8a1b1b #4b2424 #ff5959;
direction:ltr;}


div{
background-image:url('ddd.jpg');
background-repeat:repeat-y;
background-attachment:fixed;
}


a{
color:#00f;
text-decoration:none;}
a:hover{
color:#996699;
text-decoration:underline;
font-weight:bold;}
a:active{
color:#080;
text-decoration:none;

}
/*
a:visited{
color:#f40;
font-weight:none;
}*/
